body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: indigo;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background: #fafafaea;
  min-height: 70vh;
  text-align: center;
  padding: 1em 3em 0.6em;
  border-radius: 24px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.input-wrapper {
  width: 100%;
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  gap: 5px;
  box-shadow: 0 12px 24px rgba(34, 5, 71, 0.3);
}
.input-wrapper input {
  width: 100%;
}
input {
  border: none;
  outline: none;
}
form {
  width: 500px;
}

form > * + * {
  margin-top: 1.8em;
}

button {
  margin-top: 2em;
  border: none;
  background: indigo;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  padding: 0.8em 1.8em;
  border-radius: 24px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.terms {
  font-size: 13px;
}
.link {
  color: rgb(119, 28, 184);
  text-decoration: none;
}

.icon {
  font-size: 32px;
  color: indigo;
}
